{{ define "layouts/header.tmpl" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="https://unpkg.com/htmx.org@1.9.10" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
</head>
<body
    hx-ext="response-targets"
>
    
{{ end }}
