{{ define "users/login.html.tmpl" }}
    {{ template "layouts/header.tmpl" }}

    <h1>{{ .title }}</h1>

    <form 
        hx-post="/users/login" 
        hx-target="#response-div"
        hx-target-error="#any-errors"
    >
        <input name="email" placeholder="Email" />
        <input name="password" placeholder="Senha" />

        <button>Logar</button>

        <div id="response-div">
        </div>

        <div id="any-errors" style="color: red;">
        </div>
    </form>

    {{ template "layouts/footer.tmpl" }}
{{ end }}
